node_modules/
**/node_modules/
dist/
**/dist/
target/
**/target/
*.class
**/*.class
.env
*.env
**/.env
**/.env.*
!**/.env.example
neesh-ref-repo/
.DS_Store
run-*.mjs
test-*.mjs
idea-lab-main/*.mjs
idea-lab-main/*.class
